<div id="uploadForm" class="row d-flex justify-content-center">
    <h1>Upload Your Stuff</h1>
    <form id="uploadImageForm" enctype="multipart/form-data">
        <input type="file" name="clothingImage" id="clothingImage">
        <button type="submit">Upload</button>
    </form>
    <div id="message"></div>
</div>