<div class="row d-flex justify-content-between">

    <aside id="loginButton" class="col-2 overflow-auto scrollPictures">
       <a href="/login"><button id="openInstructions" type="button">Get Started!</button></a>
    </aside>
    </div>

    <!-- apply bootstrap mask to the carousel (https://mdbootstrap.com/docs/standard/content-styles/images/) -->
    <div id="carouselExampleIndicators" class="carousel slide col-8" data-ride="carousel">

    </div>

    <aside  id="signUpButton"  class="col-2 overflow-auto scrollPictures">
      
       {{!-- <ul>
        {{#each forever21Data.response.docs}}
        <li>
            <div>{{title}}</div>

            <img src="{{thumb_image}}" />

        </li>
        {{/each}}
       </ul> --}}

    </aside>



</div>

