<div class="row d-flex justify-content-between">

    <aside id="scrollPictures-left" class="col-2 overflow-auto scrollPictures">
       <a href="/login"><button id="openInstructions" type="button">Get Started!</button></a>
    </aside>


    <!-- apply bootstrap mask to the carousel (https://mdbootstrap.com/docs/standard/content-styles/images/) -->
    <div id="carouselExampleIndicators" class="carousel slide col-8 d-flex justify-content-around" data-ride="carousel">
        <div id="outfitSpace" class="container">
            <div id="randomOutfit" class="row">
                <figure class="figure col-4" id="randomShirt"><img src="" class="figure-img">Shirt
                  <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                </figure>
                <figure class="figure col-4" id="randomPantsx"><img src="" class="figure-img">Pants
                  <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                </figure>
                <figure class="figure col-4" id="randomShoes"><img src="" class="figure-img">Shoes
                  <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                </figure>

            </div>
        </div>
    </div>

    <aside  id="scrollPictures-right"  class="col-2 overflow-auto scrollPictures">
      
       {{!-- <ul>
        {{#each forever21Data.response.docs}}
        <li>
            <div>{{title}}</div>

            <img src="{{thumb_image}}" />

        </li>
        {{/each}}
       </ul> --}}

    </aside>

 <script src="'../js/homepage.js"></script>

</div>

